.my-body {
    margin: 0;
    padding: 0;

    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

.my-container {
    padding: 0 1em;
    margin: 2em auto;
    max-width: 60em;
}

.my-visually-hidden {
    @include visually-hidden();
}
