@mixin appearance($arg) {
    -webkit-appearance: $arg;
    -moz-appearance: $arg;
    appearance: $arg;
}

@mixin box-sizing($arg) {
    -webkit-box-sizing: $arg;
    box-sizing: $arg;
}

@mixin transform($arg) {
    -webkit-transform: $arg;
    -ms-transform: $arg;
    transform: $arg;
}

@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}
