.my-body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.my-h1 {
    font-size: 2em;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.my-h2 {
    font-size: 1.5em;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}
